<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="layouts/defaultLayout">
<body>
<div class="container my-5" layout:fragment="content">
    <form action="#" method="post" th:action="@{/login/processLogin}" th:object="${loginModel}">
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input th:field="*{username}" type="text" class="form-control" id="exampleInputUsername" aria-describedby="usernameHelp">
            <div id="usernameHelp" class="form-text">We'll never share your username with anyone else.</div>
            <p class="text-danger" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username error</p>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input th:field="*{password}" type="password" class="form-control" id="password">
            <p class="text-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password error</p>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
</div>
</body>
</html>
